Deep[[:space:]]Learning[[:space:]](2017,[[:space:]]MIT)[[:space:]]Ian[[:space:]]Goodfellow,[[:space:]]Yoshua[[:space:]]Bengio,[[:space:]]Aaron[[:space:]]Courville.pdf filter=lfs diff=lfs merge=lfs -text
